/*
white navbar
#4C4C4C navbar2 and footer

900px global
400px banner h homepage
300px banner h everywhere else

black shadow blur of 4 distance of 1

75px padding below headers

70px high navbar
50px the one below it

95px footer

#03A9F4 blue fallback for the banner on the homepage
#5360FE blue on what is milk tea
#448AFF blue beginners guide
#DA2E75 pink specials and events
#00BFA5 green search page

#00BCD4 location result page header color
rgba(224,247,250,0.15) background blue on location result
#80DEEA is divider line below the bg on the result page

rgba(225,245,254,0.15) background blue on the homepage
#4FC3F7 is divider line below the blue background homepage only

colors of headers on all other pages is the same as their banner

same bg card bg as homepage
same line card line homepage

showing milk tea places by card
rgba(224,242,241,0.15) bg
#B2DFDB line

rgba(252,228,236,0.15) bg on the specials and vents page
#FCE4EC line below that
*/

* {box-sizing:border-box;}
body {width:100%;min-width:600px;height:100%;
	font-family:'Open Sans','Helvetica Neue', Helvetica,sans-serif;font-size:14px;font-weight:300;padding:0px;margin:0px;padding:0px;margin:0px;background-color: #fff;};
	padding:0px;margin:0px;
	/*background-image:url(../images/ricepaper.png);background-size:250px 250px;background-repeat:repeat;*/}
table {border-collapse:collapse;}
::-webkit-input-placeholder { /* WebKit browsers */color:rgba(0,0,0,0.6);}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */color:rgba(0,0,0,0.6);}
::-moz-placeholder { /* Mozilla Firefox 19+ */color:rgba(0,0,0,0.6);}
:-ms-input-placeholder { /* Internet Explorer 10+ */color:rgba(0,0,0,0.6);}
a, a:link, a:visited {color:inherit;text-decoration:none;}
a:hover, a:focus {color:inherit;text-decoration:underline;}
a:active {color:inherit;text-decoration:underline;}
img {display:block;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;}

/* ALL **********************************************************************************/
#navbarContainer, #navbarContainerGhost, #bannerContainer, #bannerContainerHome, #contentContainer, #footerContainer {width:100%;float:left;clear:both;margin:0px auto;}
#navbar, #navbarSub, #navbarGhost, #banner, #bannerHome, #content, #footer {width:900px;min-width: 900px;margin:0px auto;}
.clear {float:left;clear:both;width:100%;height:20px;}

/* NAVBAR *******************************************************************************/
#navbarContainerGhost {display:block;width:100%;height:70px;float:left;clear:both;}
#navbarContainer {position:fixed;top:0px;left:0px;width:100%;height:75px;
	background-color:rgba(255,255,255,1.0); z-index: 9999}
	#navbar {display:block;height:75px;
		background-color:rgba(255,255,255,1.0);line-height:100%;}
		#logo {display:block;height:75px;width:auto;float:left;padding-right: 70px;}
			.logoImg {height:75px;width:auto;}
		#search {display:block;width:auto;float:left;
			padding:0px auto;line-height:75px;font-weight:400;}
			#sortBy {font-size:inherit;background-color:transparent;
				border:none;border:1px solid rgba(100,100,100,0.2);}
#navbarContainerSubGhost {display:block;width:100%;height:50px;float:left;clear:both;}
#navbarContainerSub {position:fixed;top:75px;left:0px;width:100%;height:50px;
	color:rgba(76,76,76,1.0);background-color:rgba(76,76,76,1.0);box-shadow:0px 1px 4px rgba(0,0,0,1.0);z-index: 9999;}
	#navbarSub {display:block;height:50px;}
		.navbarItem {display:block;float:left;												/* white bar on homepage nav */
			color:rgba(255,255,255,1.0);padding:2px 16px; padding-top:15px; cursor:pointer;border-bottom: 5px solid transparent; padding-bottom: 5px;}
		.navbarItem:hover, .navbarItem:focus, .navbarItem:active {text-decoration:none; border-bottom-color: #fff;}
			.navbarItem a {display:block;width:100%;height:100%;
				text-decoration:inherit;}

/* BANNER *******************************************************************************/
#bannerContainer {height:300px;}
	#banner {display:table;height:300px;
		text-align:center;font-size:48px;
		color:rgba(255,255,255,1.0);
    }
		#bannerText {display:table-cell;vertical-align:middle;line-height:80%;font-weight:400;}
        #titleText {display:table-cell;vertical-align:middle;font-weight:300;} /* For secondary pages */
			.bannerSubText {font-size:45%;color:rgba(255,255,255,1.0);font-weight:300;}
#bannerContainerHome {background-image:url(../images/homebanner.png);background-size:cover;background-position:center center;
	height:400px;}
	#bannerHome {display:table;height:400px;
		text-align:center;font-size:500%;
		color:rgba(255,255,255,1.0);}
.whatIsMilkTeaBg {background-color:#5360FE;}
.beginnersGuideBg {background-color:#448AFF;}
.specialAndEventsBg {background-color:#DA2E75;}
.searchBg {background-color: #00BFA5;}

/* CONTENT ******************************************************************************/
#contentContainer {}
	#content {}
		#content img, #content div {float:left;}
		.sectionHeader {float:left;clear:both;margin:40px 0px 10px 0px;}
		.sectionSeparation {float:left;clear:both;}
        .featureBox1 {width:32%;margin:0px 1% 0px 0px;}
		.featureBox2 {width:32%;margin:0px 1% 0px 1%;}
		.featureBox3 {width:32%;margin:0px 0px 0px 1%;}
		.featuredImg {width:50%;height:auto;}
		.featuredCaption {width:50%;height:auto;padding-left:40px; line-height: 2em;}
		.pickBox1 {width:23%;margin:0px 1% 0px 0px;}
		.pickBox2 {width:23%;margin:0px 1% 0px 1%;}
		.pickBox3 {width:23%;margin:0px 0px 0px 1%;}
        .pickBox4 {width:23%;margin:0px 1% 0px 1%;}
        .pickPlace {font-weight:600;}
			.subImg {width:100%;height:200px;}
			.subCaption {padding: 10px;width:100%;height:auto;background-color:rgba(225,245,254,.2);border: 1px solid #b3e5fc;}
			.subCaption-home {
				min-height: 250px;
			}
		.inlineImg {width:32%;height:auto;}
		.inlineCaption {width:68%;height:auto;padding-left:10px;}
		.wideImg {width:100%;height:auto;}
		.wideCaption {width:100%;height:auto;
			font-size:150%;text-align:center;padding-bottom:10px;}
		/* PLACES */
		.placeCard1 {width:23%;margin:0px 1% 0px 0px;}
		.placeCard2 {width:23%;margin:0px 1% 0px 1%;}
		.placeCard3 {width:23%;margin:0px 1% 0px 1%;}
        .placeCard4 {width:23%;margin:0px 0px 0px 1%;}
		.placeCard1, .placeCard2, .placeCard3, .placeCard4 {
			background-color:rgba(255,255,255,1.0);box-shadow:0px 2px 2px 2px rgba(0,0,0,0.1);
			border-top-left-radius:2px;
			border-top-right-radius:2px;
			border-bottom-left-radius:2px;
			border-bottom-right-radius:2px;}
			.placeImg {width:100%;height:200px;
				border-top-left-radius:2px;
				border-top-right-radius:2px;
				border-bottom-left-radius:0px !important;
				border-bottom-right-radius:0px !important;}
			.placeCaption {padding-top:10px;width:100%;height:auto;
				padding:4px;}
			.placeRank {position:absolute;top:0px;left:0px;
				background-color:rgba(150,75,0,1.0);border-bottom-right-radius:2px;}

/***********************
		HEADERS
************************/

h1 {
	font-size: 32px;
	font-weight: 300;
}

h1.homepage {
	color: #03A9F4;
	font-size: 24px;
}

h1.milktea {
	color: #536DFE;
}

h1.beginners {
	color: #448AFF;
}

h1.specials {
	color: #DA2E75;
}

h2 {
	font-size: 20px;
	font-weight: 600;
}

h3 {
	font-size: 14px;
	font-weight: 600;
}

/* FOOTER *******************************************************************************/
#footerContainer {height:95px;
	color:rgba(255,255,255,0.5);background-color:rgba(76,76,76,1.0);margin-top:75px;}
	#footer {line-height:95px; font-size: 13px;}
		.footerItem {display:block;float:left;
			color:rgba(255,255,255,1.0);padding:2px 16px;line-height:95px;cursor:pointer;}
		.footerItem:hover, .footerItem:focus, .footerItem:active {text-decoration:underline;}
			.footerItem a {display:block;width:100%;height:100%;
				text-decoration:inherit;}
		#footerCopyright {display:block;float:right;
			color:rgba(255,255,255,1.0);line-height:95px;}

/* SPECIFIC LOCATIONS **********************************************************************************/
.locationName {
    float:left;
    clear:both;
    margin:40px 0px 10px 0px;
}

span.locationHeader{
    font-size:42px;
    color: #00BCD4;
    padding-right: 10px;
    font-weight: 400;
}

.detailsHeader {
	color: #00BCD4;
	padding-right: 10px;
}

.locationClear{
    clear: both;
}

.carouselContainer{
    width: 68%;
    height: auto;
    background-size: contain;
    padding-right: 15px;
}

.ratings{
    width: 32%;
    height: auto;
    padding-left: 50px;
}

h1.ratingsHeader {
	font-weight: 400;
	margin-top: -.35em;
	font-size: 28px;
}

h2.categoryHeader {
	font-weight: 300;
	font-size: 22px;
}

/* BEGINNER'S GUIDE *************************************************************************************************/

.flavorCol1 {
	padding-right: 12px;
	padding-bottom: 12px;
}

.flavorCol2 {
	padding-right: 12px;
	padding-bottom: 12px;
}

.flavorCol3 {
	padding-right: 12px;
	padding-bottom: 12px;
}

.flavorCol4 {
	padding-right: 0px;
	padding-bottom: 12px;
}

.test figure {
	width: 216px;
	height: 200px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	position: relative;
	display: inline-block;
}

.test figure img {
	max-width: 100%;
	display: inline-block;
	position: relative;
}

.test figcaption {
	position: absolute;

	padding: 10px;
	background: #2c3f52;
	color: #ed4e6e;
}

.test figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

/* Caption Style 3 */
.cs-style-3 figure {
	overflow: hidden;
}

.cs-style-3 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.cs-style-3 figcaption {
	height: 100px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}


