* {box-sizing:border-box;}
body {width:100%;min-width:600px;height:100%;
	font-family:'Open Sans','Helvetica Neue', Helvetica,sans-serif;font-size:14px;font-weight:300;padding:0px;margin:0px;padding:0px;margin:0px;background-color: #fff;};
	padding:0px;margin:0px;
	/*background-image:url(../images/ricepaper.png);background-size:250px 250px;background-repeat:repeat;*/}
table {border-collapse:collapse;}
::-webkit-input-placeholder { /* WebKit browsers */color:rgba(0,0,0,0.6);}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */color:rgba(0,0,0,0.6);}
::-moz-placeholder { /* Mozilla Firefox 19+ */color:rgba(0,0,0,0.6);}
:-ms-input-placeholder { /* Internet Explorer 10+ */color:rgba(0,0,0,0.6);}
a, a:link, a:visited {color:inherit;text-decoration:none;}
a:hover, a:focus {color:inherit;text-decoration:underline;}
a:active {color:inherit;text-decoration:underline;}
img {display:block;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;}

/* ALL **********************************************************************************/
#navbarContainer, #navbarContainerGhost, #bannerContainer, #bannerContainerHome, #contentContainer, #footerContainer {width:100%;float:left;clear:both;margin:0px auto;}
#navbar, #navbarSub, #navbarGhost, #banner, #bannerHome, #content, #footer {width:900px;min-width: 900px;margin:0px auto;}
.clear {float:left;clear:both;width:100%;height:20px;}

/* NAVBAR *******************************************************************************/
#navbarContainerGhost {display:block;width:100%;height:70px;float:left;clear:both;}
#navbarContainer {position:fixed;top:0px;left:0px;width:100%;height:75px;
	background-color:rgba(255,255,255,1.0); z-index: 9999}
	#navbar {display:block;height:75px;
		background-color:rgba(255,255,255,1.0);line-height:100%;}
		#logo {display:block;height:75px;width:auto;float:left;padding-right: 110px;}
			.logoImg {height:75px;width:auto;}
		#search {display:block;width:auto;float:left;
			padding:0px auto;line-height:75px;font-weight:400;}
			#sortBy {
				font-size:inherit;
				background-color:transparent;
				border:1px solid rgba(100,100,100,0.3);
				width: 160px;
				height: 25px;
			}

#navbarContainerSubGhost {display:block;width:100%;height:50px;float:left;clear:both;}
#navbarContainerSub {position:fixed;top:75px;left:0px;width:100%;height:50px;
	color:rgba(76,76,76,1.0);background-color:rgba(76,76,76,1.0);box-shadow:0px 1px 4px rgba(0,0,0,1.0);z-index: 9999;}
	#navbarSub {display:block;height:50px;}
		.navbarItem {display:block;float:left;												
			color:rgba(255,255,255,1.0) !important;padding:2px 40px 2px 0px; padding-top:15px; cursor:pointer;}
		.navbarItem a {display:block;width:100%;height:100%;
				text-decoration:none;
				border-bottom: 4px solid transparent; /* white bar on homepage nav */
				padding-bottom: 5px;}

		.navbarItem a:hover, .navbarItem a:focus {
			text-decoration:none;
			border-bottom-color: #fff;
		}

		.navbarItem a:visited {
			text-decoration: none;
			color: #fff;
		}

		.navbarItem a:active {
			text-decoration: none;
			color: #fff;
		}
			
		/*********** Highlight Current Page *************/
		
		body#about .navbarItem > a#nav-about,
		body#guide a#nav-guide,
		body.specials a#nav-specials {
			border-bottom-color: #ffffff;
		}

/* BANNER *******************************************************************************/
#bannerContainer {height:300px;}
	#banner {display:table;height:300px;
		text-align:center;font-size:48px;
		color:rgba(255,255,255,1.0);
    }
		#bannerText {display:table-cell;vertical-align:middle;line-height:80%;font-weight:400;}
        #titleText {display:table-cell;vertical-align:middle;font-weight:300;} /* For secondary pages */
			.bannerSubText {font-size:45%;color:rgba(255,255,255,1.0);font-weight:300;}
#bannerContainerHome {background-image:url(../images/homebanner.png);background-size:cover;background-position:center center;
	height:400px;}
	#bannerHome {display:table;height:400px;
		text-align:center;font-size:500%;
		color:rgba(255,255,255,1.0);}
.whatIsMilkTeaBg {background-color:#5360FE;}
.beginnersGuideBg {background-color:#448AFF;}
.specialAndEventsBg {background-color:#DA2E75;}
.searchBg {background-color: #00BFA5;}

/* CONTENT ******************************************************************************/
#contentContainer {}
	#content {}
		#content img, #content div {float:left;}
		.sectionHeader {float:left;clear:both;margin:40px 0px 10px 0px;}
		.sectionSeparation {float:left;clear:both;}
        .featureBox1 {width:32%;margin:0px 1% 0px 0px;}
		.featureBox2 {width:32%;margin:0px 1% 0px 1%;}
		.featureBox3 {width:32%;margin:0px 0px 0px 1%;}
		.featuredImg {width:50%;height:350px;}
		.featuredCaption {width:50%;height:auto;padding-left:40px; line-height: 2em;font-size: 16px;}
		.pickBox1 {width:23%;margin:0px 1% 0px 0px;}
		.pickBox2 {width:23%;margin:0px 1% 0px 1%;}
		.pickBox3 {width:23%;margin:0px 0px 0px 1%;}
        .pickBox4 {width:23%;margin:0px 1% 0px 1%;}
        .pickPlace {font-weight:600;}
			.subImg {width:100%;height:200px;
                    border-top-left-radius:2px;
				    border-top-right-radius:2px;
                    border-bottom-left-radius:0px !important;
                    border-bottom-right-radius:0px !important;}
			.subCaption {padding: 10px;width:100%;height:auto;background-color:rgba(225,245,254,.2);border: 1px solid #b3e5fc;}
			.subCaption-home {
				min-height: 250px;
			}
		/**** Edited for Beginner's Guide ***/
		.inlineImg {width:33%;height:250px;}
		.inlineCaption {width:44%;height:auto;}

		/**** Added for What Is Milk Tea? ****/
		.inlineAnatomy {
			width: 50%; 
		}
		.inlineAnatomyText {
			width: 50%;
			padding-left: 30px;
		}

		.wideImg {width:100%;height:auto;}
		.wideCaption {width:100%;height:auto;
			font-size:150%;text-align:center;padding-bottom:10px;}
		/* PLACES */
		.placeCard1 {width:23%;margin:0px 1% 0px 0px;}
		.placeCard2 {width:23%;margin:0px 1% 0px 1%;}
		.placeCard3 {width:23%;margin:0px 1% 0px 1%;}
        .placeCard4 {width:23%;margin:0px 0px 0px 1%;}
		.placeCard1, .placeCard2, .placeCard3, .placeCard4 {
			background-color:rgba(255,255,255,1.0);box-shadow:0px 2px 2px 2px rgba(0,0,0,0.1);
			border-top-left-radius:2px;
			border-top-right-radius:2px;
			border-bottom-left-radius:2px;
			border-bottom-right-radius:2px;}
			.placeImg {width:100%;height:200px;
				border-top-left-radius:2px;
				border-top-right-radius:2px;
				border-bottom-left-radius:0px !important;
				border-bottom-right-radius:0px !important;}
			.placeCaption {padding-top:10px;width:100%;height:auto;
				padding:4px;}
					.cardHearts {height:20px;}
			.placeRank {position:absolute;top:0px;left:0px;
				background-color:rgba(150,75,0,1.0);border-bottom-right-radius:2px;}

/***********************
		HEADERS
************************/

h1 {
	font-size: 32px;
	font-weight: 300;
}

h1.homepage {
	color: #03A9F4;
}

h1.milktea {
	color: #536DFE;
}

h1.beginners {
	color: #448AFF;
}

h1.specials {
	color: #DA2E75;
}

h1.results {
	color: #00BFA5;
}

h2 {
	font-size: 20px;
	font-weight: 600;
}

h3 {
	font-size: 14px;
	font-weight: 600;
}

/* FOOTER *******************************************************************************/
#footerContainer {height:95px;
	color:rgba(255,255,255,0.5);background-color:rgba(76,76,76,1.0);margin-top:75px;}
	#footer {line-height:90px; font-size: 13px;}
		.footerItem {display:block;float:left;
			color:rgba(255,255,255,1.0);padding:2px 16px;line-height:90px;cursor:pointer;}
		.footerItem:hover, .footerItem:focus, .footerItem:active {text-decoration:underline;}
			.footerItem a {display:block;width:100%;height:100%;
				text-decoration:inherit;}
		#footerCopyright {display:block;float:right;
			color:rgba(255,255,255,1.0);line-height:90px;}

/* SPECIFIC LOCATIONS **********************************************************************************/
.locationName {
    float:left;
    clear:both;
    margin:40px 0px 10px 0px;
}

span.locationHeader{
    font-size:42px;
    color: #00BCD4;
    padding-right: 10px;
    font-weight: 400;
}

.detailsHeader {
	color: #00BCD4;
	padding-right: 10px;
}

.locationClear{
    clear: both;
}

.carouselContainer{
    width: 50%;
    padding-right: 15px;
}

.ratings{
    width: 26%;
    height: auto;
    padding-left: 35px;
}

.ratingsImg{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.moneyRatingImg{
    width: 21%;
    height: auto;
}

h1.ratingsHeader {
	font-weight: 400;
	margin-top: -.35em;
	font-size: 28px;
}

h2.categoryHeader {
	font-weight: 300;
	font-size: 22px;
    margin: 24px 0px 10px 0px;
}

.ratingsBreakdown{
    width: 60%;
    height: auto;
    margin: 0 auto;
    padding-right: 15px; 
}

.otherInfo{
    width: 40%;
    height: auto;
}

h4#cake {
	font-size: 20px;
	font-weight: 400;
}
/********************************
		BEGINNER'S GUIDE 
*********************************/

/********** Flavor grid *********/

.flavorCol1 {
	padding-right: 12px;
	padding-bottom: 12px;
}

.flavorCol2 {
	padding-right: 12px;
	padding-bottom: 12px;
}

.flavorCol3 {
	padding-right: 12px;
	padding-bottom: 12px;
}

.flavorCol4 {
	padding-right: 0px;
	padding-bottom: 12px;
}

.test figure {
	width: 216px;
	height: 200px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	position: relative;
	display: inline-block;
}

.test figure img {
	max-width: 100%;
	display: inline-block;
	position: relative;
}

.test figcaption {
	position: absolute;
	padding: 10px;
	background: #212121;
	color: #2196F3;
}

.test figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

/* Caption Style 3 */
.cs-style-3 figure {
	overflow: hidden;
}

.cs-style-3 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.cs-style-3 figcaption {
	height: 100px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

/*****************************************************************/

.safeJasmine {
	width: 23%;
	font-size: 45px;
	font-weight: 400;
	padding-right: 36px;
	display: table;
	padding-top: 55px;
	text-align: center;
	color: rgba(0,0,0,.83);
}

.safeJasmine span {
	font-weight: 300;
}

.safeClassic {
	width: 23%;
	font-size: 45px;
	font-weight: 400;
	padding-left: 36px;
	display: table;
	padding-top: 55px;
	text-align: center;
	color: rgba(0,0,0,.87);
}

.safeClassic span {
	font-weight: 300;
}
/****** Carousel thingy *****/

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
